.card_ava_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 480px;
  padding: 20px 30px;
  background-color: #e76f51;
  border: 1px solid black;
  gap: 35px;
  color: #264653;

  border-radius: 16px;
  box-shadow: 7px 7px 12px 0px rgba(0, 0, 0, 0.5);
}
.card_ava_container_upper .host {
  font-size: 20px;
  font-weight: 500;
}

.card_ava_container .lifted-button {
  /* padding: 8px 30px; */
  border-radius: 5px;
  border: 1.5px solid #264653;
  background-color: #f4a361;
  font-size: 16px;
  color: #264653;
  outline: none;
  font-family: "Russo One", sans-serif;
}

.card_ava_container_middle {
  display: flex;
  justify-content: space-between;
}
