.waiting_container {
  /* width: 270px; */
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #fad6ba;
  color: #264653;


}

.waiting_container .waiting_container_card {
  display: flex;
  border: 1px solid red;
  padding: 20px;
  justify-content: center;
  align-items: center;


  padding: 50px 80px;
  border-radius: 16px;
  background-color: #e76f51;
  border: 1px solid black;
  width: 400px;
  box-shadow: 7px 7px 12px 0px rgba(0, 0, 0, 0.5);


}

.waiting_container_card h1{
    width: 350px;
    text-align: start;
}
